@use "../../partials/mixins.scss" as mx;
@use "../../partials/variables.scss" as vars;

.shoots {
	& {
		display: flex;
		flex-direction: column;
		max-width: min(calc(100vw - 4rem), vars.$desktop);
		min-width: min(calc(100vw - 4rem), vars.$desktop);
	}

	&__shootDetailsHeading {
		color: var(--text-color);
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
		text-align: center;
	}

	&__inner {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
		height: 80%;
		min-height: calc(100vw - vars.$nav-height);
		min-width: 100%;

		&.onShootDetails {
			grid-template-columns: repeat(2, 1fr);
			min-height: 0;

			@media (min-width: vars.$tablet) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media (min-width: vars.$tablet) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: vars.$desktop) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__button-container {
		display: flex;
		justify-content: center;
		margin-top: 5rem;
	}

	&__editShootOrder {
		@include mx.button;
		& {
			margin-inline: auto;
		}
	}

	&__sentinel {
		height: 0;
		width: 100%;
	}
}
