@use "../../partials/mixins.scss" as mx;
@use "../../partials/variables.scss" as vars;

.customSelect {
	& {
		@include mx.input;
		& {
			border-radius: var(--border-radius);
			display: flex;
			justify-content: center;
			margin-inline-end: 0;
			max-width: 100%;
			min-width: 15.25rem;
			padding: 0;
			position: relative;
			height: 3rem;
			z-index: 1;
		}

		@media (min-width: vars.$small-phone) {
			max-width: 21rem;
			min-width: 21rem;
		}

		&.tall {
			z-index: 6;
		}
	}

	&__inner {
		border-radius: var(--border-radius);
		max-height: 3rem;
		outline: 1px solid var(--text-color);
		overflow-y: auto;
		position: absolute;
		scrollbar-width: none;
		transition: max-height 0.25s ease;
		width: 100%;
		-ms-overflow-style: none; // hide in explorer
	}

	&.tall &__inner {
		max-height: 30rem;
		transition: max-height 0.5s ease;

		@media (min-width: vars.$large-tablet) {
		}
	}

	&__select {
		color: var(--text-color);
		cursor: pointer;
	}

	&__selectValue {
		@include mx.navLink;
		& {
			align-items: center;
			background: var(--background-color);
			display: flex;
			font-weight: 500;
			justify-content: center;
			letter-spacing: var(--letter-spacing-sm);
			min-height: 3rem;
			position: sticky;
			top: 0;
			z-index: 2;
		}
	}

	&.tall &__selectValue {
		background: var(--background-color);
		border-bottom: 1px solid var(--text-color);
	}

	&__default-option {
		&.hide {
			display: none;
		}

		&.show {
			display: block;
			color: var(--text-color);
			letter-spacing: var(--letter-spacing-sm);
		}
	}

	&__option {
		@include mx.navLink;
		& {
			align-items: center;
			background: var(--background-color);
			border-top: 1px solid var(--text-color);
			display: flex;
			font-weight: 500;
			height: 4rem;
			justify-content: center;
			letter-spacing: var(--letter-spacing-sm);
			outline: none;
			position: relative;

			@media (min-width: vars.$large-tablet) {
				background: var(--nav-and-footer-bg);
				height: 3rem;
			}
		}

		&:nth-of-type(2) {
			border-top: none;
		}
	}

	/* Hide scrollbar for WebKit browsers (Safari and Chrome) */
	&__inner::-webkit-scrollbar {
		display: none;
	}

	/* Hide the scrollbar */
	&::-webkit-scrollbar {
		width: 0;
	}

	&__down {
		align-items: center;
		display: flex;
		height: 0.75rem;
		justify-content: center;
		position: absolute;
		right: 0.8rem;
		top: 50%;
		transform: translateY(-40%);
		width: 0.75rem;

		&__stroke {
			stroke: var(--text-color);
		}
	}

	&__down-icon {
		height: 14px;
		width: 14px;
	}

	&__down-stroke {
		stroke: var(--text-color);
		stroke-width: 0.75rem;
	}

	&__inline-button {
		align-items: center;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&--delete {
			left: 0.75rem;
		}

		&--edit {
			right: 0.75rem;
		}
	}

	&__icon {
		&--delete {
			height: 1.25rem;
			width: 1.25rem;
		}

		&--edit {
			height: 1.15rem;
			width: 1.2rem;
		}
	}

	&__icon-stroke {
		fill: var(--text-color);
	}

	&__touchOffDiv {
		display: none;
		height: 100dvh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;

		&.show {
			display: block;
			z-index: 5;
		}
	}
}
