@use "../../../partials/_mixins" as mx;
@use "../../../partials/_variables" as vars;

.shootDetailsPage {
	& {
		@include mx.page;
	}

	&__inner {
		@include mx.inner;
		& {
			align-self: stretch;
			margin-top: calc(vars.$nav-height + 1rem);
			padding-bottom: 0;
			width: 100%;
		}
	}

	// &__photo-placeholders {
	// 	opacity: 1;
	// 	position: sticky;
	// 	width: 100%;
	// }

	&__divider {
		background-color: var(--text-color);
		border-radius: var(--border-radius);
		height: 0.25rem;
		margin-top: 3rem;
		width: 90%;
	}

	&__bottom {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
	}
}
