@use "../../../partials/_mixins" as mx;
@use "../../../partials/_variables" as vars;

.shootDetailsPage {
	@include mx.page;

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: vars.$nav-height;
		width: 100%;
	}

	&__photos {
		margin-top: 1.5rem;
		min-height: 100vh;
		position: relative;
	}

	&__photo-placeholders {
		position: sticky;
		opacity: 1;
		width: 100%;
	}

	// &__photo-container {

	// }

	&__info {
		display: flex;
		flex-direction: column;
		letter-spacing: 2.5px;
		margin-top: 1.25rem;
		width: 100%;
	}

	&__date {
		color: var(--text-color);
		font-size: 1.125rem;
		font-weight: normal;
		height: 2rem;
		margin-bottom: 0.125rem;
		padding-inline-end: 0.25rem;
		text-align: right;
		width: 100%;

		@media (min-width: vars.$tablet) {
			margin-bottom: 0.75rem;
		}
	}

	&__photographers {
		color: var(--text-color);
		display: block;
		font-size: 1.125rem;
		font-weight: normal;
		height: 2rem;
		margin-inline: auto;
		min-width: 70%;
		text-align: center;
		transition: color 0.2s ease-out;
	}

	&__models {
		color: var(--text-color);
		display: block;
		font-size: 1.125rem;
		font-weight: normal;
		height: 2rem;
		margin-inline: auto;
		max-width: 90%;
		min-width: 50%;
		text-align: center;
		transition: color 0.2s ease-out;
	}

	&__photos {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 85%;

		@media (min-width: vars.$tablet) {
			width: 70%;
		}
	}

	&__imageBox {
		@include mx.imageBox;
		@include mx.shootDetailsImg;
		& {
			cursor: pointer;
		}
	}

	// &__image {
	// }

	&__divider {
		background-color: var(--text-color);
		border-radius: var(--border-radius);
		height: 0.25rem;
		margin-top: 3rem;
		width: 90%;
	}

	&__bottom {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
	}

	&__bottom-text {
		color: var(--text-color);
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	&__models-label,
	&__photographers-label {
		display: none;
	}
}
