@use "../../partials/_mixins" as mx;
@use "../../partials/_variables" as vars;

.modal {
	& {
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: opacity 0.2s ease;
		width: 100%;
		z-index: 7;

		&.show {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__overlay {
		background: var(--modal-overlay-bg);
		height: 100%;
		position: absolute;
		width: 100%;
	}

	&__card {
		background: var(--background-color);
		border-radius: var(--border-radius-card);
		display: flex;
		flex-direction: column;
		height: 100%;
		left: 50%;
		max-height: 50vh;
		max-width: 45rem;
		overflow: hidden;
		padding-block: 2rem;
		padding-inline: 2rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 85%;
		z-index: 8;
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-inline: auto;
		max-width: 25rem;
		width: 100%;
	}

	&__heading {
		& {
			text-align: center;
			margin-top: 2rem;

			color: var(--text-color);
			font-size: 2rem;
		}
	}

	&__button-container {
		@include mx.buttonContainer;
		& {
			flex-direction: column;
			flex-shrink: 0;
			gap: 1rem;
			margin-top: 2rem;
			margin-top: auto;

			@media (min-width: vars.$small-tablet) {
				flex-direction: row-reverse;
				gap: 2rem;
			}
		}
	}

	&__button {
		@include mx.button;
		& {
			min-width: 7rem;
			width: 100%;

			@media (min-width: vars.$small-tablet) {
				max-width: 12rem;
				min-width: 8rem;
			}

			&--cancel.disabled {
				@include mx.disabledButton;
			}
		}
	}
}
